# Ignorar archivos y directorios generados automáticamente
__pycache__
*.pyc

# Ignorar directorios específicos
.DS_Store
.flaskenv
*.pyc
*.pyo
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Ignorar archivos y directorios de desarrollo local
*.log
*.sqlite3
.DS_Store
